@font-face {
  font-family: 'Roboto-normal';
  src: url(../styles/fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-ligth';
  src: url(../styles/fonts/Roboto-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url(../styles/fonts/Roboto-Bold.ttf);
  font-weight: normal;
  font-style: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto-normal', sans-serif;
  /* border: 1px solid red; */
}

html {
  min-height: 100vh;
  width: 100%;
}
p {
  font-size: 12px;
}
h1 {
  font-size: 18px;
}
body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template: 20% 80% / 18% 82%;
  grid-template-areas: "dashboard header"
                       "dashboard main";
}

#dashboard {
  min-height: 100%;
  grid-area: dashboard;
  border: 1px solid red;
}

header {
  grid-area: header;
  border: 1px solid green;
  display: grid;
  padding-left: 30px;
  grid-template: 35% 65% / 5% 55% 10% 30%;
  grid-template-areas: "search search search profile-icons"
                        "profile-svg profile profile actions";
}

main {
  min-height: 100%;
  grid-area: main;
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 72% 28%;
  background-color: #e2e8f0;
}

#your-projects {
  border: 1px solid red;
}

#info {
  /* border: 1px solid blue; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

img.user-svg {
  height: 28px;
  width: 28px;
}

img.profile-svg {
  height: 48px;
  width: 48px;
  grid-area: profile-svg;
  align-self: center;
}

.search {
  grid-area: search;
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.search input {
  width: 100%;
  background-color: #e2e8f0;
  border: none;
  height: 60%;
  border-radius: 10px;
  margin-left: 10px;
}

.profile-icons {
  grid-area: profile-icons;
  display: flex;
  align-items: center;
  justify-content: end;
  align-self: center;
}
.profile-icons>* {
  margin-left: 10px;
}
.profile-icons>p {
  display: inline;
  margin-left: 30px;
  margin-right: 40px;
  font-family: 'Roboto-bold', sans-serif;
}

.profile {
  grid-area: profile;
  align-self: center;
}
.profile> p {
  font-family: 'Roboto-bold', sans-serif;
}
header .material-icons {
  font-size: 20px;
}


.actions {
  display: flex;
  grid-area: actions;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}
.actions button {
  background-color: #1992D4;
  border: none;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
  width: 25%;
}

.wrapper {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trending>div {
  display: flex;
  align-items: center;
}

.trending>div>div {
  padding-left: 15px;
}

.card {
  height: 100%;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 10px 5px 5px gray;
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  overflow: hidden;
}

.card>div{
  width: 80%;
}

.card>div>img {
  grid-area: avatar;
  width: 50px;
}

.card>div>h4 {
  font-size: 16px;
}

.card>div>h4~p {
  color: grey;
  font-size: 12px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
          line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card>div>div>p {
  color: grey;
  font-size: 12px;
}

.card>div>div>p:first-child {
  color: black;
  font-size: 16px;
  font-weight: 900;
}