@font-face {
  font-family: 'Roboto-normal';
  src: url(../styles/fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-ligth';
  src: url(../styles/fonts/Roboto-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url(../styles/fonts/Roboto-Bold.ttf);
  font-weight: normal;
  font-style: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto-normal', sans-serif;
}

html {
  min-height: 100vh;
  width: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  background-color: #e2e8f0;
  grid-template: 18% 82% / 18% 82%;
  grid-template-areas: "dashboard header"
                       "dashboard main";
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

#dashboard {
  min-height: 100%;
  grid-area: dashboard;
  background-color: #1992D4;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.dashboard-link {
  text-decoration: none;
  color: #f4f4f5
}

.dashboard-top,
.dashboard-center,
.dashboard-bottom {
  padding: 20px 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard-logo {
  font-size: 34px;
  margin-right: 10px;
}

.dashboard-brand {
  font-weight: bold;
  font-size: 2rem;
}

.dashboard-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.dashboard-list-item {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.dashboard-list-icon {
  width: 30px;
  font-size: 1.5rem;
}

.dashboard-list-item:hover,
.dashboard-list-item:active {
  background-color: #0ea5e9;
  color: #fafafa;
}

header {
  grid-area: header;
  display: grid;
  background-color: whitesmoke;
  box-shadow: 7px 8px 30px 2px rgba(0,0,0,0.3);
  padding: 10px 50px;
  grid-template: 35% 65% / 10% 50% 10% 30%;
  grid-template-areas: "search search search profile-icons"
                        "profile-svg profile profile actions";
}

main {
  min-height: 100%;
  grid-area: main;
  display: grid;
  grid-template-columns: 72% 28%;
}

#your-projects {
  padding-top: 15px;
  padding-bottom: 30px;
 /*  maybe we can find a better solution for this? */
  overflow: hidden;
}

.header-p{
  margin-left: 30px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  width: 100%;
}

.card-1 {
  width: calc(50% - 10px);
  height: 20%;
  margin: 15px 0 0 30px;
  padding: 20px;
  border-radius: 10px;
  border-left: 8px solid rgb(240, 180, 41);
  box-shadow: 2px 2px 5px silver;
  text-align: left;
  background-color: whitesmoke;
}

.card-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-title{
  font-size: 1.4rem;
}

.card-content{
  width: 85%;
  color: gray;
}

.icon-container {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

.icon-container i {
  margin-right: 20px;
  font-size: 1.3rem;
  color: #374151;
}

img.user-svg {
  width: 50px;
}

img.profile-svg {
  width: 80px;
  grid-area: profile-svg;
  align-self: center;
}

.search {
  grid-area: search;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.search input {
  width: 100%;
  background-color: #e2e8f0;
  border: none;
  height: 60%;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 1.3rem;
}

.profile-icons {
  grid-area: profile-icons;
  display: flex;
  align-items: center;
  justify-content: end;
  align-self: center;
}

.profile-icons>* {
  margin-left: 10px;
}

.profile-icons>p {
  display: inline;
  margin-left: 20px;
  margin-right: 40px;
  font-size: 1.5rem;
  font-family: 'Roboto-bold', sans-serif;
}

.profile {
  grid-area: profile;
  align-self: center;
}

.profile> p {
  font-family: 'Roboto-bold', sans-serif;
}

header .material-icons {
  font-size: 1.5rem;
  color: #374151;
}

.actions {
  display: flex;
  grid-area: actions;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 30px;
}

.actions button {
  background-color: #1992D4;
  border: none;
  color: #fff;
  border-radius: 25px;
  font-size: 1.2rem;
  padding: 10px 25px;
  margin-left: 25px;
}

#info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.wrapper {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trending>a {
  display: flex;
  align-items: center;
}

.trending>a:hover{
  transform: translateY(2px);
}

.trending>a>div {
  padding-left: 15px;
}

.card {
  height: 100%;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 2px 2px 5px silver;
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  overflow: hidden;
}

.card>div{
  width: 80%;
}

.card>a{
  width: 80%;
  text-decoration: none;
}

.card>a>img {
  grid-area: avatar;
  width: 50px;
}

.card>div>h4 {
  font-size: 1.1rem;
}

.card>div>h4~p {
  color: grey;
  font-size: 1rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
          line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card>a>div>p {
  color: grey;
  font-size: 1rem;
}

.card>a>div>p:first-child {
  color: black;
  font-size: 1.1rem;
  font-weight: 900;
}

button:hover {
  background-color: #0ea5e9;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}